.topHeading { 
	color: #888888;
	font-size: 5em;
}

.faceSelector {
	min-width: 100px;
}

.content-padded a {
	color: black;
}

.happyFace span:before {
	content: ":D";
}

.happyFace span {
	left: 25%;
}

.sadFace span {
	left: 40%;
}

.happyFace {
	background-color: #FFDA0F;
	float: right;
}

.sadFace {
	background-color: #C10FB7;
	float: left;
}

.sadFace span:before {
	content: ":(";
}

.sadFace, .happyFace {
	border: 3px solid white;
	position: relative;
	width: 50%;
	height: 300px;
}

.sadFace span, .happyFace span {
	font-family: Arial;
    position: absolute;
	top: 40%;
	display: block;
	font-size: 5em;
	transform: rotate(90deg);
}

/* small faces */
.happyFace-small span:before {
	content: ":D";
}

.sadFace-small span:before {
	content: ":(";
}

.happyFace-small span {
	left: 15%;
}

.sadFace-small span {
	left: 30%;
}

.happyFace-small {
	background-color: #FFDA0F;
	float: left;
}

.sadFace-small {
	background-color: #C10FB7;
	float: left;
}

.sadFace-small, .happyFace-small {
	border: 3px solid white;
	position: relative;
	width: 55px;
	height: 90px;
}

.sadFace-small span, .happyFace-small span {
	font-family: Arial;
    position: absolute;
	top: 40%;
	display: block;
	transform: rotate(90deg);
	font-size: 2em;
}

#btn-lookAround {
	background-color: #accb12;
}

.spacer {
	height:2em;
}

/*Helper css */
.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

